<div class="{{ container }}">
    <div class="row">
         {% if page.footer_first %}
             <div class="d-none d-sm-block">
                 <div class="col ">
                    {{ page.footer_first }}
                 </div>
             </div>
         {% endif %}
        {% if page.footer_second %}
            <div class="d-flex footer-links">
                    {{ page.footer_second }}
            </div>
        {% endif %}
        {% if page.footer_third %}
                <div class="col">
                        {{ page.footer_third }}
                </div>
        {% endif %}
        {% if page.footer_fourth %}
                <div class="col">
                        {{ page.footer_fourth }}
                </div>
        {% endif %}
    </div>
    {% if page.footer_fifth %}
        <div class="site-footer__bottom">
                {{ page.footer_fifth }}
        </div>
    {% endif %}
</div>
