{% if page.secondary_menu or page.top_header or page.top_header_form %}
<nav{{ navbar_top_attributes }}>
    {% if container_navbar %}
        <div class="container">
    {% endif %}
        <button class="navbar-toggler navbar-toggler-left" type="button" data-toggle="collapse" data-target="#CollapsingNavbar" aria-controls="CollapsingNavbar" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        {# page.top_header = logo. Hide smaller than lg; to match collapsed menu breakpoint. #}
        <div class="d-none d-lg-block">
            {{ page.top_header }}
        </div>
        <div class="d-lg-none">
            <h1>ESIE</h1>    
        </div>
        <div class="collapse navbar-collapse" id="CollapsingNavbar">
            {# page.secondary_menu =  currently empty #}
            {{ page.secondary_menu }}
            {% if page.top_header_menu %}
                <div class="ml-auto">
                    {{ page.top_header_menu }}
                </div>
            {% endif %}
            {# page.top_header_form =  search bar #}
            {% if page.top_header_form %}
                <div class="form-inline">
                    {{ page.top_header_form }}
                </div>
            {% endif %}
                
        <div class="navbar-main-collapsed d-lg-none">
                {{ page.primary_menu }}
                {% if page.header_form %}
                <div class="form-inline navbar-form">
                    {{ page.header_form }}
                </div>
                {% endif %}
        </div>
                
        </div>
    {% if container_navbar %}
        </div>
    {% endif %}
</nav>

        
<nav{{ navbar_attributes.addClass("d-none d-lg-block") }}>
    {% if container_navbar %}
        <div class="container" {{  navbar_attributes }} >
    {% endif %}
        {{ page.header }}
        {% if page.top_header or page.header_form %}
            <div>
                {{ page.primary_menu }}
                {% if page.header_form %}
                    <div class="form-inline navbar-form">
                        {{ page.header_form }}
                    </div>
                {% endif %}
            </div>
        {% endif %}
        {% if sidebar_collapse %}
            <button class="navbar-toggler navbar-toggler-left" type="button" data-toggle="collapse" data-target="#CollapsingLeft" aria-controls="CollapsingLeft" aria-expanded="false" aria-label="Toggle navigation"></button>
        {% endif %}
    {% if container_navbar %}
        </div>
    {% endif %}
</nav>

{{ page.editor_toolbar }}
{% endif %}
