<div id="main" class="{{ container }}">
    {{ page.breadcrumb }}
    <div class="row row-offcanvas row-offcanvas-left clearfix">
{#       TODO: why doesn't this add/remove work. also content_attributes is described as being for the header. why.#}
        <main{{ content_attributes }}{{content_attributes.addClass('col-lg-9').removeClass('col')}}>
            <section class="section">
                <a id="main-content" tabindex="-1"></a>
                {{ page.content }}
            </section>
        </main>
        {% if page.sidebar_first|render is not empty %}
            {% spaceless %}
                <div{{ sidebar_first_attributes }}>{%- if page.sidebar_first|render is not empty -%}
                        <aside class="section" role="complementary">
                            {{ page.sidebar_first }}
                        </aside>
                    {%- endif -%}
                </div>
            {% endspaceless %}
        {% endif %}
        {% if page.sidebar_second %}
            <div{{sidebar_second_attributes.addClass('col-lg-3').removeClass('col-md-3') }}>{%- if page.sidebar_second|render|striptags|trim is not empty -%}
                    <aside class="section" role="complementary">
                        {{ page.sidebar_second }}
                    </aside>
                {%- endif -%}
            </div>
        {% endif %}
    </div>
</div>
